<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <title>Document</title>
</head>

<body>
    <main>
        <section>
            <img src="../tools/giphy.gif" width="480" height="480" frameBorder="0"></img>
        </section>
        <section>
            <article>
                <picture>LOGO</picture>
                <p>description Lorem, ipsum dolor.</p>
            </article>
            <article>
                <span>ICON</span>
                <span>PLAY</span>
            </article>
            <article>
                <span>ICON</span>
                <span>MULTI-JOUEUR</span>
            </article>
            <article>
                <i>Facebook</i>
                <i>github</i>
                <i>linkedin</i>
            </article>
        </section>
    </main>
</body>

</html>